.login-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg,#ffe645,#e2aa02 100%) ;
    position: relative;

    .logo{
        font-size: 75px;
        font-weight: bold;
        font-family: 'creepster',cursive;
        position: absolute;
        top: 50px;
        right: 50px ;

    }
    .description{
        font-size: 20px;
        font-family: 'aldin',cursive;
        letter-spacing: 5px;
        position: absolute;
        top: 200px;
        right: 50px;
        text-align: right;
        width: 800px;
    }
    .film{
        position: absolute;
        top: 20px;
        left: 10px;
        width: 680px;

    }
    .login-form{
        width: 500px;
        height: 240px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        box-shadow: 5px 5px 20px #383838 ;
    }
    .formgroup{
        margin-top: 20px;
    }
    label{
        font-weight: bold;
    }
    

}
#button{
    margin-top: 8px;
    
}
.error{
    position: absolute;
    font-weight: bold;
    color: red;
    top: 5px;
    right: 0px;
}